{% extends "base.html" %}
{% block content %} 
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center py-5">
        <h1 class="display-2 mt-5 mb-2 text-center" id="fade2">
          Welcome, {{display_name}}. 
        </h1>
        <p class="mb-5" id="fade5">
            <i>We're thrilled to have you here.</i>
        </p>
        <p class="welcome-text mt-2" id="display2s">
            At Spotifai, we provide you with the keys to unlock the magic of Spotify's vast music library,
           giving you the ability to create, innovate, and explore music like never before.
           From building personalized playlists to analyzing music trends with our AI, 
           the possibilities are endless.
        </p>
      </div>
{% endblock %}


