{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="tracklist">
    <div class="card-header">
       <h3>Your Monthly Top Tracks</h3>
    </div>
    <div class="card-body">
      <ol class="list-group list-group-numbered">
        {% for name, artist in tracks_info %}
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ name }}</div>
                {{ artist }}
            </div>
            <div class="play-button">
              <a href="#" class="btn btn-primary">Play</a>
            </div>
          </li>
        {% endfor %}
        <a href="/create_user_top_tracks_playlist" class="btn btn-primary" id="add-playlist">Add to Spotify</a>
      </ol>
    </div>
  </div>
</div> 
{% endblock %}
